body{

    background-color: dodgerblue;
    color: white;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;


}

ul{

    list-style-type: none;

}