body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: red;
  color: green;
  width: 500px;
  margin: 0 auto;
  font-size: 20px;
}

.large-img {
  display: none;
  float: right;
  padding: 5px;
  margin: 5px;
  border: 1px solid black;
  background-color: white;
  width : 480px;
}

nav {
  text-align: center;
}

nav a {
  display: block;
  padding: 10px;
  font-size: 16px;
  border: 1px black dotted;
  text-align: center;
}
nav a:link, nav a:visited, nav a:active {
  color: white;
  text-decoration: none;
}

header p {
  text-align: center;
  font-size: 16px;
}

h1 {
  text-align: center;
}

.small, .medium, .large {
  display: none;
}

@media only screen and (min-width: 576px){

body{

background-color: green;
color: yellow;

}


.tiny, .medium, .large {

  display: none;


}

.small {

display: block;


}

nav a{

  display: inline;
  border: none;
  
      }

      .large-img{

        display: block;
        width: 50%;
        
  
      }

}

@media (min-width: 768px){

  body{
  
  background-color: blue;
  width: 80%;
  
  }
  
  
  .tiny, .small, .large {
  
    display: none;
  
  
  }
  
  .medium {
  
  display: block;
  
  
  }
  
  nav a{

    display: inline;
    border: none;
    
        }

        .large-img{

          display: block;
          width: 50%;
          
    
        }

}

  @media only screen and (min-width: 992px){

    body{
    
    background-color: orange;
    color: purple;
    width: 80%;
    
    }
    
    
    .tiny, .small, .medium {
    
      display: none;
    
    
    }
    
    .large {
    
    display: block;
    
    
    }

    nav a{

display: inline;
border: none;

    }

    .large-img{

      display: block;
      width: 50%;
      

    }
    
  }
  


  