body{

    background-color: black;
    color: white;
}

h3{

color: yellow;

}

header{

    background-color: red;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;

}

ul{

    color: lightgreen;

}