body{

    background-color:tomato;
    font-family: sans-serif;
    text-align: center;
}

a{

    color: white;
    text-decoration: none;
    padding: 20px 20px;
    font-size: 50px;
    
    

}

div.c1{

    border: 3px solid black;
    border-radius: 10px;
    margin-left: 500px;
    padding: 15px;
    width: 500px;
    height: 300px
    
}

div.c2{

    border: 3px solid black;
    border-radius: 10px;
    margin-left: 500px;
    padding: 15px;
    width: 500px;
    height: 300px
}

div.c3{

    border: 3px solid black;
    border-radius: 10px;
    margin-left: 500px;
    padding: 15px;
    width:500px;
    height: 300px
    
}

div.c4{

    border: 3px solid black;
    border-radius: 10px;
    margin-left: 500px;
    padding: 15px;
    width: 500px;
    height: 300px
}

div{

    margin: 20;

}

img{

    width: 490px;
}